<footer style="margin-top:40px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="footer-title"><a href="https://origo.io">Origo Systems</a></h3>
        <ul class="list-unstyled">
          <li class="pull-right"><a href="#top">Back to top <span class="glyphicon glyphicon-arrow-up"></span></a></li>
        </ul>
        <p><span class="glyphicon glyphicon-thumbs-up"></span> Feedback is welcome &mdash; please send to <a href="mailto:jakob@cabo.dk">Jakob</a>.</p>

      </div>
    </div>
  </div>
</footer>
