{% load active %}

{% url 'setup' as setup %}
{% url 'packages_local' as packages %}

<div style="margin-bottom:30px">
  <ul class="nav nav-tabs menu">

    <li>
      <a href="{% url 'setup' %}">Setup <span class="glyphicon fui-gear"></span></a>
    </li>

    <li>
      <a href="{% url 'software' %}">Software <span class="glyphicon glyphicon-folder-open"></span></a>
    </li>

    <li>
      <a href="{% url 'farm_list' %}">Farm <span class="glyphicon glyphicon-th"></span></a>
    </li>

    <li>
      <a href="/deployment/">Deployment</a>
    </li>

  </ul>

</div>

<script>
$(document).ready(function(){
  var path = window.location.pathname;
  // make current page active in sidebar
  $('a[href="' + path + '"]').parent().attr('class', 'active');

  // make tab active
  $('.menu>li>a').each(function(i,elm){
     if(path.indexOf(elm.pathname) === 0){
        $(elm).parent().attr('class', 'active');
     }
  });
})
</script>
