{% extends 'project_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_title%}Existing AD Information{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block body%}

<style>
#spinner-wrapper {
height: 200px;
}
</style>

<div class="col-xs-12">

  {% include '_menu.html' %}

  <div class="row">

    <div class="col-xs-12">

      <h3>Connect to Existing AD</h3>

      <div class="share mrl">
        <form method="POST" action="{% url 'ad_setup' %}">
          <ul>
            <li>
              {{form|crispy}}              
            </li>
          </ul>

          <button href="#" class="btn btn-primary btn-block btn-large">Next
            <span class="fui-arrow-right"></span>
          </button>
          
        </form>
      </div>
      
    </div>

    <form method="POST" action="{% url 'cancel' %}">
      <button class="btn btn-link"><span class="fui-arrow-left"></span>Cancel</button>
    </form>

  </div>

</div>
{% endblock%}


