{% extends 'project_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_title%}Select Active Directory{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block body%}

<style>
#spinner-wrapper {
height: 200px;
}
</style>

<div class="col-md-8 col-md-offset-2">

  <h3>Select Active Directory</h3>

  <p><span class="fui-question-circle"></span> Server must get a DHCP assigned IP
  </p>

  <div class="login-form">
    <form method="POST" id="" action="{% url 'ad_type' %}">

      <label class="radio">
        <input type="radio" name="existing_active_directory" value="true" data-toggle="radio" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        Connect to existing Active Directory
      </label>

      <label class="radio">
        <input type="radio" name="existing_active_directory" value="" data-toggle="radio" checked="" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        Include Active Directory
      </label>

      <button href="#" class="btn btn-primary btn-block btn-large">Next<span class="fui-arrow-right"></span></button>
      
    </form>
  </div>

  <br>
  <p><span class="fui-question-circle"></span> Remote Desktop Services (RDS) must connect to an Active
    Directory (AD). Therefore you have the option to <i>connect to
      your existing AD</i> or install a new one.
  </p>

</div>
{% endblock%}


