{% extends 'project_base.html' %}
{% load static %}

{% block page_title%}Farms{% endblock %}
{% block navbar %}RDS Services{% endblock %}

{% block pre_body %}
  {% include '_menu.html' %}
{% endblock %}

{% block body %}
<div class="col-xs-3">
  {% include '_farm_sidebar.html' %}
</div>
<div class="col-xs-9">
  {% if farms %}

  <h1>Farms</h1>

  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Heads Up!</strong> This is a list of your RDS farms
  </div>


  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status
            <span data-toggle="tooltip"
                  data-placement="right"
                  title="Whether software can be added to the farm or not">
              <span class="fui-question-circle"></span>
            </span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for o in farms %}
        <tr>
          <td><a href="{% url 'farm_show' pk=o.pk %}">{{o.name}}</a></td>
          <td>{{o.status}}</td>
          <td>

            <form method="GET" action="{% url 'farm_clone' pk=o.pk %}" style="display:inline-block">
              <button type="submit" title="Clone Farm"
                      class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-duplicate"></span></button>
            </form>

            <form method="POST" action="{% url 'farm_delete' pk=o.pk %}" class="delete-form" style="display:inline-block">
              <button type="submit" title="Delete Farm {{o}}"
                      class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span></button>
            </form>

          </td>
        </tr>
        {% endfor %}        
      </tbody>

    </table>
  </div>
  {% else %}

  {% endif %}
</div>
{% endblock%}

{% block scripts%}
<script src="{% static 'rds/js/formconfirm.js' %}"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip()
  $(".delete-form").formconfirm();
});
</script>
{% endblock%}
