{% extends 'project_base.html' %}
{% load crispy_forms_tags %}

{% block page_title%}Add Program{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block body%}
<div class="col-xs-12">

  {% include '_menu.html' %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h3>{% if object.id %}Update{% else %}Add{% endif %} Package</h3>      

      <div class="share mrl">

        <form role="form" enctype="multipart/form-data" method="POST">
        
          <ul>
            <li>
          {{form|crispy}}
            </li>
          </ul>
        
          <button type="submit" 
                  class="btn btn-primary btn-block">{% if object.id %}Update{% else %}Add{% endif %}</button>
        
        </form>
      </div>

      <small><a href="{% url 'packages' %}"><span class="fui-arrow-left"></span>Cancel</a></small>

    </div>
  </div>

</div>

{% endblock%}
