{% extends 'project_base.html' %}
{% load crispy_forms_tags %}

{% block page_title%}Add Program{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block pre_body %}
  {% include '_menu.html' %}
{% endblock %}

{% block body%}
<div class="col-xs-3">
  {% include '_package_sidebar.html' %}
</div>

<div class="col-xs-9">

      <h3 style="margin-top:0">{% if object.id %}Update{% else %}Upload{% endif %} Software</h3>      

      <div class="share mrl">

        <form role="form" enctype="multipart/form-data" method="POST">
        
          <ul>
            <li>
          {{form|crispy}}
            </li>
          </ul>
        
          <button type="submit" 
                  class="btn btn-primary btn-block">{% if object.id %}Update{% else %}Upload{% endif %}
            <span class="glyphicon glyphicon-upload"></span>
          </button>
        
        </form>
      </div>

      <small><a href="{% url 'packages_local' %}"><span class="fui-arrow-left"></span>Cancel</a></small>


</div>

{% endblock%}
