{% extends 'project_base.html' %}
{% load static %}

{% block page_title%}Software{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block pre_body %}
  {% include '_menu.html' %}
{% endblock %}

{% block body %}
<div class="col-xs-3">
  {% include '_package_sidebar.html' %}
</div>

<div class="col-xs-9">

  <h1>Software</h1>

  <!--  <select class="form-control"> -->
  <!--   <option>1</option> -->
  <!--   <option>2</option> -->
  <!--   <option>3</option> -->
  <!--   <option>4</option> -->
  <!--   <option>5</option> -->
  <!-- </select> -->

  {% if packages %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th style="min-width: 200px">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for p in packages %}        
        <tr>
          <td>{{p.name}}</td>
          <td>{{p.version}}</td>
          <td>

            {% if not p.installed %}
            <form method="POST" action="{% url 'package_install' pk=p.id%}" style="display:inline-block">
              <button type="submit" title="Add {{p.name}} to farm"
                      class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon glyphicon-download-alt"></span></button>
            </form>
            {% endif %}

            <form method="GET" action="{% url 'package_update' pk=p.id %}" style="display:inline-block">
              <button type="submit" title="Edit"
                      class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-pencil"></span></button>
            </form>

            <form class="delete-form" method="POST" action="{% url 'package_delete' pk=p.id %}" style="display:inline-block">
              <button type="submit" title="Delete {{p}}"
                      class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-trash"></span></button>
            </form>

          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
  {% else %}
  <div class="well">
    There is no software yet, go to <a href="{% url 'package_create'%}">upload software</a>
  </div>

  {% endif %}
</div>

<script src="{% static 'rds/js/formconfirm.js' %}"></script>
<script>
  $(".delete-form").formconfirm();
</script>


{% endblock%}

