-e git+https://github.com/jakobadam/django-caboskin.git#egg=caboskin
-e git+https://github.com/jakobadam/python-winexe#egg=winexe
django 
django-bower
django-crispy-forms
django-debug-toolbar
django-password-strength
gunicorn 

