{% extends 'project_base.html' %}

{% block page_title%}Programs{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block body%}
<div class="col-xs-12">

  {% include '_menu.html' %}

  <h2>Programs</h2>

  <div class="form-group">
    <a href="{% url 'add_program' %}" class="btn btn-lg btn-primary">Add program</a>
  </div>

  <div class="panel panel-default ">
    <table class="table table-striped">
      <tr>
        <th>Filename</th>
      </tr>
      {% for p in packages %}
      <tr class="success">
        <td>{{p.name}}</td>
        <td>
          <form method="POST" action="{% url 'delete_program' %}" class="pull-right">
            <input type="hidden" name="id" value="{{p.id}}" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

          <form method="POST" action="{% url 'deploy_program' %}" class="pull-right">
            <input type="hidden" name="id" value="{{p.id}}" />
            <button type="submit" class="btn btn-primary">Deploy</button>
          </form>

        </td>
      </tr>
      {% endfor %}
    </table>
  </div>


</div>
{% endblock%}
