{% extends 'project_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_title%}Add Program{% endblock %}
{% block navbar %}RDP Services{% endblock %}

{% block head %}
{% endblock %}

{% block pre_body %}
  {% include 'rds/includes/menu.html' %}
{% endblock %}

{% block body%}
<div class="col-xs-3">
  {% include 'rds/includes/package_sidebar.html' %}
</div>

<div class="col-xs-9">

  <h3 style="margin-top:0">{% if object.id %}Update {{object}}{% else %}Upload Software{% endif %}</h3>

  <!-- <span class="btn btn-success fileinput-button"> -->
  <!--   <i class="glyphicon glyphicon-plus"></i> -->
  <!--   <span>Add files...</span> -->
  <!--   <input type="file" name="file" multiple> -->
  <!-- </span> -->

  <div class="share mrl">
    <form role="form" enctype="multipart/form-data" method="POST">
      <ul>
        <li>
          {{form|crispy}}
        </li>
      </ul>
      <button type="submit"
              class="btn btn-primary btn-block">{% if object.id %}Update{% else %}Upload{% endif %}
        <span class="glyphicon glyphicon-upload"></span>
      </button>
    </form>
  </div>

  <small><a href="{% url 'package_list_redirect' %}"><span class="fui-arrow-left"></span>Cancel</a></small>
</div>
{% endblock%}

{% block scripts %}
<script src="{% static 'bootstrap-filestyle/src/bootstrap-filestyle.js' %}"></script>
<script src="{% static 'rds/js/fileprogress.js' %}"></script>
<script src="{% static 'rds/js/jQuery.FileDrop.js' %}"></script>
<script>
  $(":file").filestyle({buttonBefore: true});
  $(":file").fileprogress();
</script>
{% endblock %}
