.sidebar .nav>.active>a, .sidebar .nav>.active:focus>a {
padding-left: 30px;
font-weight: bold;
color: #16a085;
background-color: transparent;
/* border-right: 2px solid #16a085; */
border-right: 2px solid grey;
}

.sidebar .nav>li:hover>a {
border-right: 2px solid #16a085;
}

.sidebar .nav>li>a {
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
font-size: 14px;
font-weight: 400;
}
