<div class="sidebar hidden-print affix-top" role="complementary">

  <ul class="nav sidebar">

    <li>
      <ul class="nav">

        <li>
          <a href="{% url 'package_list_redirect' %}">
            <span class="glyphicon glyphicon-folder-open"></span> Packages </a>
        </li>

        <!-- <li> -->
        <!--   <a href="{% url 'software_cloud' %}"><span class="glyphicon glyphicon-cloud"></span> Store</a> -->
        <!-- </li> -->

        <li class="nav-divider">&nbsp;</li>

        <li>
          <a href="{% url 'package_add' %}"><span class="glyphicon glyphicon-plus"></span> Add</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="form-group">

  </div>

</div>
