<div class="sidebar hidden-print affix-top" role="complementary">

  <ul class="nav sidebar">

    <li>
      <h5 style="margin-top:0"><small>Software</small></h5>
      <ul class="nav">
        <li><a href="{% url 'package_list_redirect' %}"><span class="glyphicon glyphicon-folder-open"></span> Software </a></li>
        <li><a href="{% url 'software_cloud' %}"><span class="glyphicon glyphicon-cloud"></span> Store</a></li>
        <li class="nav-divider">&nbsp;</li>
        <li><a href="{% url 'package_create' %}"><span class="glyphicon glyphicon glyphicon glyphicon-open"></span> Upload</a></li>
      </ul>
    </li>
  </ul>

  <div class="form-group">

  </div>

</div>
